body {
    margin: 0;    
}
#emoji {
    height: 40px;
    width: 40px;
}

#first {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5px;
    padding-left: 300px;
    padding-right: 300px;
    height: 600px;
}

#gumb {
    margin-top: 30px;
    color: aliceblue;
    text-decoration: none;
}
#naslov {
    font-size: 48px;
    font-weight: bolder;
}

#links {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

#udomi-psa {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#opis  {
    font-size: 21px;
    color: #e5e7eb;
    line-height: 30px;
    padding-bottom: 20px;
}

#header-text {
    font-size: 24px;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 40px;
    font-size: 20px;
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

li {
    margin-left: 20px;
}

#pas {
    height: 200px;
    width: 400px;
    display: flex;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul {
    display: flex;
    gap: 18px;
}

#psi {
    text-decoration: none;
    color: #F9FAF8;
}

#logo {
    height: 70px;
    width: 70px;
}

#saznajte-vise {
    color: #F9FAF8;
    font-size: 30px;
    cursor: pointer;
}




#slike-pasa {
    height: 190px;
    width: auto;
}

#drugi {
    background-color: #F9FAF8;
    color: #1F2937;
    padding: 5px;
    padding-left: 300px;
    padding-right: 300px;
    height: 550px;
    padding-top: 30px;
}

#drugi-naslov {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 30px;
}

#sve-slike {
    display: flex;
    justify-content: center;
    gap: 112px;

}

#slike-pasa {
    border-radius: 10px;
    margin-bottom: 20px;
}

#info {
    max-width: 20px;
}

#text {
    color: #1F2937;
    font-size: 20px;
    line-height: 30px;
}


#treci {
    background-color: #e5e7eb;
    color: #1F2937;
    padding: 5px;
    padding-left: 300px;
    padding-right: 300px;
    height: 550px;
    padding-top: 30px;
}


#citat {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    padding-top: 190px;
    line-height: 50px;
}

#autor {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    display: flex;
    justify-content: end;
    padding-top: 30px;
}


#cetvrti {
    color: #F9FAF8;
    padding: 5px;
    padding-left: 300px;
    padding-right: 300px;
    height: 550px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

#zadnji {
    height: 200px;
    width: 1300px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
}

#vrijeme {
    display: flex;
    align-items: center;
}

#vrijemeje {
    font-size: 40px;
    font-weight: bold;
    margin-left: 100px;
}

#prijava{
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;
}

#prijavitese {
    width: 150px;
    height: 50px;
    border: 2px solid #F9FAF8;
    font-size: 25px;
    font-weight: bold;
    margin-left: 500px;
}

#gumb2 {
    text-decoration: none;
    cursor: pointer;
    color: #F9FAF8;
}


footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    font-size: 20px;
    color: #F9FAF8;
    font-weight: 300;
}